{% extends 'core/base.html' %}

{% block title %}Order List{% endblock %}

{% block content %}
  <h1>Order List</h1>
  <ul>
    {% for order in orders %}
      <li>
        <strong>Order ID:</strong> {{ order.id }}<br>
        <strong>Supplier:</strong> {{ order.supplier.name }}<br>
        <strong>Date:</strong> {{ order.date|date:"d M Y H:i" }}<br> <!-- Дата оформления заказа -->
        <strong>Total Price:</strong> ${{ order.total_price }}<br>
        <strong>Products:</strong>
        <ul>
          {% for item in order.orderproduct_set.all %}
            <li>{{ item.quantity }} x {{ item.product.name }}</li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
  <a href="/" class="text-xl font-semibold">Home</a>
{% endblock %}
