{% extends 'core/base.html' %}

{% block title %}Promo Codes{% endblock %}

{% block content %}
    <h1>Promo Codes</h1>
    <table>
        <thead>
            <tr>
                <th>Code</th>
                <th>Discount</th>                
                <th>Is Active</th>
            </tr>
        </thead>
        <tbody>
            {% for promo_code in promo_codes %}
                <tr>
                    <td>{{ promo_code.code }}</td>
                    <td>{{ promo_code.discount }}%</td>                    
                    <td>{{ promo_code.is_active }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/" class="text-xl font-semibold">Home</a>

{% endblock %}
